<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can u give me one last kiss?</title>
    <style>
        html {
            font-size: 14px;
        }
        body {
            background: #0a0a0a;
            color: #e0e0e0;
            margin: 40px 0px 24px 0px;
            padding: 0 24px;
            max-width: 40em;
            font-family: sans-serif;
        }
        pre {
        white-space: pre-wrap;
        }
        a { color: #5ea6ff; }
        h1, h2, h3 { color: #fff; }
    </style>
</head>
<body>
    <header>
        <a href="/index.html" class="author">Midori</a> - 
        <span class="title">Can u give me one last kiss?</span>
        <span class="date">(2026 Jul 12)</span>
        <hr style="border: none; border-top: 1px solid #333; margin-top: 12px;">
    </header>
<h1>Can u give me one last kiss?
</h1>
<p><pre>still working...</pre></p>

<hr style="border: none; border-top: 1px solid #555; margin-top: 0em;">
<footer>Thanks for reading my blog post.</footer>
<footer><p>
        <a href="/index.html">Home Page</a>
        |
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>
    </small></p>
</footer>
</body>
</html>